*{
  margin: 0px;
  padding: 0px;
}

#contact-container{
  border: solid 1px;
  height: 400px;
  width: 78.9vw;
  font-size: 30px;
  float: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.contact > p{
width: 70px;
float: left;
line-height: 13vh;
padding-left: 2vh;
}

.contact-1{
  grid-column: span 2;
}

.contactImg{
  float: left;
  height: 80%;
  padding-top: 1vh;
  user-select: none;
}

.contactImg:hover{
  transform: scale(1.2); 
  transition: transform .2s;
}