*{
  padding: 0px;
  margin: 0px;
}

#left-screen{
  width: 20vw;
  height: 100vh;
  background-color:rgba(140,183,127,255);
  display: grid;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#navigatie-container{ 
  margin: 0em;
  border: solid 1px black;
  width: 15vw;
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: white;
}

.navigatie{
  vertical-align: middle;
  font-size: 1.3em;
  padding-left: 0.5vw;
  height: 5vh;
  width: 11vw;
  color:rgba(140,183,127,255);
  font-family: 'Courier New', Courier, monospace;
  line-height: 5vh;
}


.navigatie:hover{
  background-color:rgba(140,183,127,255);
  border-radius: 80px;
  color: black ;
}
