/* ---Telefoon--- */
@media screen and (max-width: 720px) and (min-width: 0px){
.button{
  transform: translateX(0px);
}
#navigatie-container{
  visibility: hidden;
}
.navigatie{
  visibility: hidden;
}
}
/* ---Tabblad--- */
/* -vertical mode- */
@media screen and (max-width: 920px) and (min-width: 721px){
  .button{
    transform: translateX(0px);
  }
  #navigatie-container{
    visibility: hidden;
  }
  .navigatie{
    visibility: hidden;
  }
}

/* -Landscape mode- */
@media screen and (max-width: 1280px) and (min-width: 921px){
  .button{
    transform: translateX(-200px);
    }
    #navigatie-containerButton{
      transform: translateX(-200px);
    }
  }

/* ---Desktop--- */
@media screen and (min-width: 1281px){
  .button{
    transform: translateX(-200px);
    }
    #navigatie-containerButton{
      transform: translateX(-200px);
    }
}