/* ---Algemeen--- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* ---Body--- */





/* ---Header--- */
.header{
    background-color: rgb(170, 170, 170);
    width: 87%;
    height: 65vh;
    padding: 50px
}
.profile{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
}
.info-container{
    display: grid;
    width: 80%;
}
.info-box{
    background-color: white;
    width: 15%;;
    margin: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box1{
    grid-column-start:1 ;
    grid-column-end:2 ;
}
.box2{
    grid-column-start:2 ;
    grid-column-end:3 ;
}
.box3{
    grid-column-start:3 ;
    grid-column-end:4 ;
}